<section class="tm-section">
    <div class="container-fluid" style="text-align: center;margin-top: 2em;">
        <h3>Food Vendor Dashboard</h3>
        <div class="row">
            <div class="col-md-3 btn" style="text-align: center;">
                <a routerLink="/">Meals</a>
            </div>
            <div class="col-md-3 btn" style="text-align: center;">
                <a routerLink="/">My Transporters</a>
            </div>
            <div class="col-md-3 btn" style="text-align: center;">
                <a routerLink="/">My Customers</a>
            </div>
            <div class="col-md-3 btn" style="text-align: center;">
                <a routerLink="/">Pending Orders</a>
            </div>
        </div>
    </div>

</section>