<section class="tm-section">
    <div class="container-fluid" style="text-align: center;margin-top: 2em;">
        <h3>Customer Dashboard</h3>
        <div class="row">
            <div class="col-md-3 btn" style="text-align: center;">
            <a routerLink="/vendor">Food Vendors</a>
            </div>
            <div class="col-md-3 btn" style="text-align: center;">
            Transporters
            </div>
            <div class="col-md-3 btn" style="text-align: center;">
            Cities of Service
            </div>
            <div class="col-md-3 btn" style="text-align: center;">
            Available Meals
            </div>
        </div>
    </div>

</section>